<div id="menu" class="div-3">
  <div id="profile" class="div-4">
      <span>
        <img class="img-1"
          src="https://github.com/Miller12A.png">
      </span>
      <span class="spam-1">
        Miller Mora
      </span>
  </div>
  <div id="nav" class="div-5">
    <a href="#"
      class="a-1">
      <div class="div-6">
        <span class="spam-2">Cursos</span>
        <span class="spam-3">Mostrar todos los cursos</span>
      </div>
    </a>
    <a href="#"
      class="a-1">
      <div class="div-6">
        <span class="spam-2">Materias</span>
        <span class="spam-3">Mostrar todas las materias</span>
      </div>
    </a>
    <a href="#"
      class="a-1">
      <div class="div-6">
        <span class="spam-2">Estudiantes</span>
        <span class="spam-3">Mostrar todos los estudiantes</span>
      </div>
    </a>
    <a href="#"
      class="a-1">
      <div class="div-6">
        <span class="spam-2">Tareas</span>
        <span class="spam-3">Mostrar todas las tareas</span>
      </div>
    </a>
    <a href="#"
      class="a-1">
      <div class="div-6">
        <span class="spam-2">Profesores</span>
        <span class="spam-3">Mostrar todos los Profesores</span>
      </div>
    </a>
    <a href="#"
      class="a-1">
      <div class="div-6">
        <span class="spam-2">Usuarios</span>
        <span class="spam-3">Mostrar todos los usuarios</span>
      </div>
    </a>
  </div>
</div>